body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-third {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    height: 525px;
    background-color: #202938;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

li {
    margin-left: 11px;
    margin-right: 11px;
    color: #cfd7e2;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.left-header {
    display: flex;
    align-items: center;
    margin-left: 90px;
    color: #f9fbf8;
    font-size: 24px;
}

.right-header {
    margin-right: 90px;
    font-size: 18px;
    align-content: end;
}

.top-third-content {
    color: white;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    height: 320px;
    margin-top: 90px;
   
}

.top-third-text {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: center;
    width: 400px;
    margin-right: 20px;
    flex-shrink: 0;
}

.top-third-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #6d747e;
    flex-shrink: 0;
}

.hero-text {
    margin-bottom: 9px;
    font-size: 48px;
    font-weight: 900;
    
}

.hero-subtext {
    margin-bottom: 12px;
    font-size: 18px;
   
}

.sign-up {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: #4277d3;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
}

.information-third {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    height: 440px;
    background-color: white;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    font-size: 36px;
    font-weight: 900;
}

.information-and-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.image-and-text1, .image-and-text2, .image-and-text3, .image-and-text4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 240px;
}

.quote-third {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: #e6e7eb;
    padding-left: 500px;
    padding-right: 500px;
    border: 2px solid red;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    flex-basis: auto;
    width: 700px;;
    border: 2px solid red;
}

.thor {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
}